body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active{
  background-color: #1abc9c ;
  padding: 5px 15px;
  border-radius: 40px;
}

.layer{
  position: absolute;
  top:130%;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
}
.Base:hover .layer{
  top: 0;
}

.blayer{
  background: #1abc9c5a;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}